

html, body {
	position: relative;
	height: 100%;
	margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-size: 16px;
  color: #ffffff;
	background-color: #eeeeee;
	transform: translate3d(0,0,0);
	background-image: url('./Images/Red-Hacker-Wallpaper.jpg');
  background-size: 100vw 100vh;
}

.phone {
  color: white;
  text-align: center;
}

.waitingTable, table, th, td {
  border: 1px solid black;
  margin-bottom: 5%;
}

button.button6{
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  font-size: 4.5vw;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#111111;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
}
button.button6:active{
  top:0.1em;
}
  @media all and (max-width:30em){
   button.button6{
   display:block;
   margin:0.4em auto;
  }
}

.centered {
  text-align: center;
}

.enterform {
  margin-top: 30vh;
  margin-bottom: 5px;
  font-weight: 700;
}

.playbtn {
  color: #ffc;
  font-weight: 700;
  margin-top: 5vh;
  border-radius: 9px;
  border-color: #dddddd;
  background: rgba(231, 7, 7, 0.644);
  width: 250px;
  height: 45px; 
}

.playbtn:active{
  color:#AAAAAA !important;
  border-color:#AAAAAA !important;
}

input[type=text] {
    width: 250px;
	  font-size: 16px;
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px; 
    height: 15px;    
    text-align: center; 
}

.pulsate {
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.5;
  font-size: 4vh;
  font-weight: bold;
}
@keyframes pulsate {
  0% { 
      opacity: 0.5;
      font-size: 3.7vw;
  }
  50% { 
      opacity: 1.0;
      font-size: 4.0vw;
  }
  100% { 
    opacity: 0.5;
    font-size: 3.7vw;
  }
}

.light {
	color: #ffc;
}

.board {
  width: 90vw;
  height: 60vw;
  margin-left: 5vw;
  margin-top: 20vh;
  border:1px solid #fff;
  background-color: #111111d0;
}

.numberCircle {
  display: flex;
  border-radius: 50%;
  width: 16vw;
  height: 16vw;
  padding-top: 1vh;
  padding-left: 4.5vw;
  margin: 1vw;
  border: 2px solid #fff;
  color: #fff;
  font: 10vw Arial, sans-serif;
}

.numberCircles {
  width: '100%';
  height: 16vw;
  margin-top: 20%;
  display: flex;
}

.numberCircle {
  display: flex;
  border-radius: 50%;
  width: 16vw;
  height: 16vw;
  padding-top: 1vh;
  padding-left: 4.5vw;
  margin: 1vw;
  border: 2px solid #fff;
  color: #fff;
  font: 10vw Arial, sans-serif;
}

.votetracker {
  width: '100%';
  height: 16vw;
  margin-top: 18%;
  display: flex;
}

.votetrackerCircle {
  display: flex;
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
  padding-top: 0.5vh;
  padding-left: 2vw;
  margin: 1vw;
  border: 2px solid #fff;
  color: #fff;
  font: 5vw Arial, sans-serif;
}

.votetrackerCircleActive {
  display: flex;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  padding-top: 0.3vh;
  padding-left: 2.5vw;
  border: 2px solid #fff;
  color: red;
  font: 7vw Arial, sans-serif;
}

.numPlayerBadge {
  float: right;
  margin-right: 5px;
  font-size: 3vw;
}

.votingDisabled {
  float: left;
  margin-left: 2px;
  font-size: 3vw;
  color: red
}

.twoFails {
  position: fixed;
  font-size: 2.2vw;
  right: 24vw;
  top: 27.8vh;
}

.r_success {
  color: rgb(38, 60, 100);
  border: 2px solid rgb(38, 79, 155);
}

.s_fail {
  color: red;
  border: 2px solid red;
}

.navbtn {
  margin: 10px
}

.navbtn:active{
  color:#AAAAAA !important;
  border-color:#AAAAAA !important;
}

.bottom-nav {
  background: rgba(0, 0, 0, 0.87);
  width: 100vw;
  height: 10vh;
  box-shadow: 0 .4rem 1rem 0 rgba(55, 55, 55, .2);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.lg {
  height: 6vh !important;
  font-size: 1.8vh;
  padding-top: 1.5vh !important;
}

.lg-dark {
  background-color: #111111e1 !important;
  color: white !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.lg-active {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.sessionBadge {
  color: white;
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 2vh;
  margin-left: 5px;
}

.sf-btn {
  height: 23vh;
  width: 25vw;
  font-weight: bold;
  margin: 5vw;
  background-color: #111111e1 !important;
  border: 1px solid white !important;
  color: white !important;
}

.sf-btn-active {
  height: 23vh;
  width: 25vw;
  font-weight: bold;
  margin: 5vw;
  background-color: white !important;
  border: 2px solid #333333 !important;
}

.sf-btn-disabled {
  height: 23vh;
  width: 25vw;
  font-weight: bold;
  margin: 5vw;
  background-color: #111111e1 !important;
  border: 1px solid red !important;
  color: red !important;
}

/*card css for react-card-flip */
.card {
  height: 29vw;
  width: 42vw;
  margin: 1vw;
  display: flex;
  background:rgba(0, 0, 0, 0) !important;
}

.front {
  // position: relative;
  height: 26vw;
  width: 42vw;
  background:rgba(0,0,0,0.90);
  border-radius: 5px;
  border-style: solid;
  border-color: white; 
}

.back {
  height: 26vw;
  width: 42vw;
  background:rgba(0,0,0,0.99);
  border-radius: 5px;
  border-style: solid;
  border-color: white;
}

.cardPack {
  display: inline-block;
}